body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .mastercard {
    isolation: isolate;
    position: relative;
    min-height: 200px;
    min-width: 200px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ed2205;
    -webkit-animation: red 2s ease-out infinite alternate;
            animation: red 2s ease-out infinite alternate;
  }
  .mastercard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #f9a000;
    mix-blend-mode: hard-light;
    -webkit-animation: yellow 2s ease-out infinite alternate;
            animation: yellow 2s ease-out infinite alternate;
  }
  .mastercard:after {
    content: "mastercard";
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -25px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 29.9999999985px;
    overflow: hidden;
    width: 0;
    opacity: 0;
    -webkit-animation: text 2s linear infinite alternate;
            animation: text 2s linear infinite alternate;
  }
  
  @-webkit-keyframes red {
    0% {
      margin-left: 0;
    }
    5% {
      margin-left: 0;
    }
    80% {
      margin-left: -133.3333333333px;
    }
    100% {
      margin-left: -133.3333333333px;
    }
  }
  
  @keyframes red {
    0% {
      margin-left: 0;
    }
    5% {
      margin-left: 0;
    }
    80% {
      margin-left: -133.3333333333px;
    }
    100% {
      margin-left: -133.3333333333px;
    }
  }
  @-webkit-keyframes yellow {
    0% {
      left: 0;
    }
    5% {
      left: 0;
    }
    80% {
      left: 133.3333333333px;
    }
    100% {
      left: 133.3333333333px;
    }
  }
  @keyframes yellow {
    0% {
      left: 0;
    }
    5% {
      left: 0;
    }
    80% {
      left: 133.3333333333px;
    }
    100% {
      left: 133.3333333333px;
    }
  }
  @-webkit-keyframes text {
    0% {
      opacity: 0;
      width: 0;
    }
    20% {
      opacity: 0;
      width: 0;
    }
    80% {
      opacity: 1;
      width: 100%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes text {
    0% {
      opacity: 0;
      width: 0;
    }
    20% {
      opacity: 0;
      width: 0;
    }
    80% {
      opacity: 1;
      width: 100%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }